body {

	margin: 0px;
	padding: 0;

}

#imagen{
	width: 3%
	height: 10px;
	margin: 5px;
	padding: 2px;
}

#cabecera{
	background:  #005883;
	margin: 7px;
	top: 10px;
	color: #fff;
	text-align: center;


}


#contenido{
	
	top: 9px;
	left: 4px;
	padding: 5px;
	border-radius: 2px;
	margin: 20px;

}

