*{

	margin: 0px;
	padding: 0px;
}

#header{
	width: 100%;
	height: 50px;
	background-color:#f0B429 ;
	text-align: center;
}

#body{
	margin: auto;
	margin-top: 20px;
	width: 960px;
	height: 1605px;
	background-color: #005883;

}

#footer{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	background-color:  #f47920;
}
